<article class="vehicle-card">
    {% with cover=vehicle.images.first %}
        {% if cover %}
            <img class="vehicle-card__image" src="{{ cover.image.url }}" alt="{{ cover.alt_text|default:vehicle.brand }} {{ vehicle.model }}" loading="lazy" width="800" height="500">
        {% else %}
            <div class="vehicle-card__placeholder">Kein Bild vorhanden</div>
        {% endif %}
    {% endwith %}
    <div class="vehicle-card__body">
        {% if heading_level == 'h3' %}<h3 class="vehicle-card__title">{{ vehicle.brand }} {{ vehicle.model }}</h3>{% else %}<h2 class="vehicle-card__title">{{ vehicle.brand }} {{ vehicle.model }}</h2>{% endif %}
        {% if vehicle.variant %}<p class="vehicle-card__variant">{{ vehicle.variant }}</p>{% endif %}
        <ul class="vehicle-card__facts">
            <li>EZ {{ vehicle.first_registration|date:"m/Y" }}</li>
            <li>{{ vehicle.mileage|floatformat:"0g" }} km</li>
            <li>{{ vehicle.fuel_type }}</li>
            <li>{{ vehicle.transmission }}</li>
            <li>{{ vehicle.power_kw }} kW / {{ vehicle.power_ps }} PS</li>
        </ul>
        <p class="price">{{ vehicle.sale_price|floatformat:"2g" }} €</p>
        <a class="aw-button aw-button--outline" href="{% url 'vehicle_detail' vehicle.pk %}">Details ansehen</a>
    </div>
</article>
